@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Afuturaroundbold';
    src: url('../fonts/afuturaroundbold.ttf');
    font-weight: 700;
}